DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=fr_classifier
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
